[submodule "spade"]
	path = spade
	url = https://gitlab.com/spade-lang/spade.git
[submodule "fzcmd"]
	path = fzcmd
	url = https://gitlab.com/TheZoq2/fzcmd.git
[submodule "waveform"]
	path = waveform
	url = https://github.com/ekiwi/waveform-rust.git
